@charset "utf-8";
/* CSS Document */
body {
    font-family: "Lato",sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
	font-family: "Lato",sans-serif;
    font-size: 100%;
}
.container {
    width: 1279px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
* {
    box-sizing: border-box;
}
.women_main {
    padding: 4em 0px;
}
.col-md-9 {
    width: 964px;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.women {
    text-align: left;
    border-bottom: 1px solid #EBEBEB;
}
body a {
    transition: all 0.5s ease 0s;
}
a {
    color: #1B242F;
    text-decoration: none;
}
a {
    background: none repeat scroll 0% 0% transparent;
}
.women h4 {
    color: #555;
}
.women h4 {
    float: left;
    font-size: 1em;
    text-transform: uppercase;
    color: #333;
}
h4, h5, h6, h1, h2, h3 {
    margin-top: 0px;
}
h4, .h4 {
    font-size: 18px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.w_nav {
    float: right;
    color: #555;
    font-size: 0.8125em;
    padding: 0px;
    list-style: outside none none;
}
ul {
    padding: 0px;
    list-style: outside none none;
}
ul, ol {
    margin: 0px;
}
ul, ol {
    margin-top: 0px;
    margin-bottom: 10px;
}
.w_nav li {
    display: inline-block;
}
.clearfix::before, .clearfix::after{
    display: table;
    content: " ";
}
*::before, *::after {
    box-sizing: border-box;
}
.clearfix::after{
    clear: both;
}
.items-in {
	padding-left: 0px;
	width: 964px;
	overflow: hidden;
	margin: 0px;
}
.items-in .item-in {
    width: 236px;
    height: auto;
    margin: auto;
    position: relative;
	float: left;
	margin-right: 5px;
	margin-top: 20px;
	display:inline;
}
.items-in .item-in img {
	width: 220px;
	height: 310px;
	background-color: #fff;
	border: 8px solid #EBEBEB;
	box-sizing: content-box;
}
.items-in .item-in .text {
    width: 220px;
    height: auto;
    background-color: #FFF;
    opacity: 0.7;
    position: absolute;
    left: 0px;
    bottom: 0px;
	margin: 0px 0px 8px 8px;
}
.items-in .item-in .text .item_dsr {
    height: 70px;
    background-color: #FFF;
    padding: 0px 5px;
    margin-top: 1px;
    z-index: 3;
}
.items-in .item-in .text .item_dsr h4 {
	margin: 0px auto;
    width: 200px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    font-size: 12px;
    font-weight: normal;
}
.items-in .item-in .text .item_dsr .price {
    height: 30px;
    line-height: 30px;
    color: #FF4500;
    overflow: hidden;
    width: 200px;
    margin: 0px auto;
}
.items-in .item-in .text .item_dsr .price strong {
    font-size: 18px;
    float: left;
}
.items-in .item-in .text .imgtext {
    width: 220px;
    height: 80px;
    padding: 20px 10px;
    color: #333;
    font-size: 12px;
}
.col-md-3 {
    width: 285px;
}
.w_sidebar {
    border: 1px solid #EBEBEB;
}
.sky-form {
    margin-top: -10px;
}
.sky-form .content_box img {
  width: 245px;
  height: 327px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
.sky-form h4 {
    margin-top: 10px;
    background: none repeat scroll 0% 0% #ECECEC;
    padding: 10px 20px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 16px;
}
.row1 {
    outline: medium none;
    padding: 20px;
    overflow: auto;
    height: 200px;
}
.jspContainer {
    overflow: hidden;
    position: relative;
}